* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin: 0;
  font-family: Multicolore;
  text-align: center;
}

.nextBtn {
  margin-top: 40px;
  background-color: #ea9c90;
}

@font-face {
  font-family: Inder;
  src: url(../public/Inder-Regular.ttf);
}
@font-face {
  font-family: DiloWorld;
  src: url(../public/DiloWorld\ 2.ttf);
}

@font-face {
  font-family: Multicolore;
  src: url(../public/Multicolore\ Pro\ 4.otf);
}
@font-face {
  font-family: Sirukota;
  src: url(../public/Sirukota.ttf);
}
@font-face {
  font-family: SonoVariable;
  src: url(../public/SonoVariable.ttf);
}
