/* CSS variables: */
:root {
  --black: #000000;
  --light-grey: #8e8e8e;
  --white: #ffffff;
  --off-white: #f6f2e9;
  --peach-color: #ea9c90;
  --light-peach-color: #f2b7ae;
  --light-blue-color: #a7c0cb;
  --light-purple-color: #b78ac0;
  --medium-purple-color: #a268b0;
  --dark-purple-color: #824592;
  --green-color: #bfc995;
  --darker-green: #969f79;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
  text-align: center;
}

.nextBtn {
  margin-top: 40px;
  background-color: var(--peach-color);
}

li {
  list-style: none;
}

@font-face {
  font-family: Inder;
  src: url(../public/Inder-Regular.ttf);
}
@font-face {
  font-family: LilitaOne;
  src: url(../public/LilitaOne-Regular.ttf);
}

@font-face {
  font-family: Caprasimo;
  src: url(../public/Caprasimo-Regular.ttf);
}
@font-face {
  font-family: Sirukota;
  src: url(../public/Sirukota.ttf);
}

@font-face {
  font-family: SonoVariable;
  src: url(../public/SonoVariable.ttf);
}

@font-face {
  font-family: SimplyRounded;
  src: url(../public/Simply-Rounded.ttf);
}

@font-face {
  font-family: PoetsenOne;
  src: url(../public/PoetsenOne-Regular.ttf);
}

@font-face {
  font-family: Comfortaa-Bold;
  src: url(../public/Comfortaa-Bold.ttf);
}

@font-face {
  font-family: Comfortaa-Regular;
  src: url(../public/Comfortaa-Regular.ttf);
}


/* Fade in keyframe for use on all pages */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: Antipasto-ExtraBold;
  src: url(../public/Antipasto-Pro-ExtraBold.ttf);
}

@font-face {
  font-family: Antipasto-Regular;
  src: url(../public/Antipasto-Pro-Regular.ttf);
}


