/* CSS for Button Component   */

button {
  cursor: pointer;
  margin-bottom: 10px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #c5a7cb;
  color: var(--white);
  font-weight: bold;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  font-family: LilitaOne;
}
