/* Group Final Results */

/* Main Page */
.finalResultsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Results Card/Container */
.resultsCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid rgba(251, 251, 251, 0.781);
  border-radius: 30px;
  height: 60vh;
  width: 30%;
  color: rgb(130, 69, 146);
  margin: 20px 0;
  color: var(--dark-purple-color);
}

/* Main Header */
.enjoy h2 {
  color: var(--dark-purple-color);
  font-size: 3rem;
  /* text-shadow: -2px 0 var(--medium-purple-color),
    0 2px var(--medium-purple-color), 2px 0 var(--medium-purple-color),
    0 -2px var(--medium-purple-color); */
  margin: 5px 0 0 0;
  padding: 10px;
  font-weight: 600;
}

/* Restaurant Name */
.restaurantName {
  font-size: 36px;
  color: #301934;
  margin-bottom: 20px;
}

/* Image */
img.restaurant_image {
  margin: 0;
  width: 50%;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}

/* Restaurant Details Container */
.textMargin {
  color: var(--black);
  font-size: 20px;
  margin: 30px 10px 20px;
  padding: 0;
}

/* Directions Icon */
.venueIcon {
  margin: 10px 0;
  color: var(--light-grey);
}

/* Media Queries */
/* Smartphone */
@media (max-width: 700px) {
  .resultsCard {
    width: 80%;
  }

  .restaurantName {
    margin-bottom: 40px;
  }

  .finalResultsBtn {
    margin-top: 30px;
  }
}

/* Portrait Ipad */
@media (max-width: 1150px) and (min-width: 710px) {
  .resultsCard {
    width: 60%;
    height: 50vh;
  }

  .finalResultsBtn {
    margin-top: 60px;
  }

  .restaurantName {
    margin-bottom: 50px;
  }
}

/* Landscape Ipad */
@media (max-width: 1200px) and (min-width: 1151px) {
  .resultsCard {
    width: 60vw;
  }
  .restaurantName {
    margin-top: 20px;
  }
}
