/* CSS for Homepage */

/* Main Page */
.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header thats unseen */
.homepage h1 {
  margin: 0;
}
.h1 {
  font-size: 0.1px;
  opacity: 0;
  padding: 0;
}

/* Image(LOGO) */
img {
  width: 300px;
  margin-bottom: 30px;
}

/* Buttons */
.bounceOne {
  animation: bounce 2s ease-in infinite;
}

.bounceTwo {
  animation: bounce 2s ease-in infinite;
  animation-delay: 0.7s;
}

.bounceThree {
  animation: bounce 2s ease-in infinite;
  animation-delay: 1.4s;
  background-color: #547a8c;
}

.needHelpBtn {
  background-color: #547a8c;
  margin-top: 40px;
  width: 110px;
}

.topHomeBtn {
  margin-top: 20px;
}

/* Motto at foot of page */
.motto {
  margin-top: 20px;
  color: var(--black);
  width: 100%;
  text-align: center;
  font-family: "Comfortaa-Regular", sans-serif;
  font-size: 13px;
}

/* Animations for buttons */
@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-10%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-5%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0);
  }
}

/* If user has reduced motion set this meadia query runs*/
@media (prefers-reduced-motion: reduce) {
  .bounceOne,
  .bounceTwo,
  .bounceThree {
    animation: none;
  }
}
