/* CSS for Pre Filter */
body {
  background-color: #f6f2e9;
}

.preFilter {
  padding: 0;
  background-color: transparent;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preFilterBtn {
  margin: 20px;
  transition: scale 1s ease-in-out;
}

.preFilterBtn:hover {
  background-color: #b78ac0;
  transform: scale(1.02);
}

.preFilter h4 {
  margin-bottom: 10px;
}

.preFilter p {
  margin: 0;
}

.pageSVG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.75;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.out-top {
  animation: rotate 20s linear infinite;
  transform-origin: 13px 25px;
}
.in-top {
  animation: rotate 10s linear infinite;
  transform-origin: 13px 25px;
}
.out-bottom {
  animation: rotate 25s linear infinite;
  transform-origin: 84px 93px;
}
.in-bottom {
  animation: rotate 15s linear infinite;
  transform-origin: 84px 93px;
}
