/* CSS for Vote Screen */

/* Main Page */
.voteScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header */
.voteHeader {
  padding: 0;
  margin: 0;
}
