#resultscard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px auto 10px auto;
  width: 50%;
  

}

#restaurant_image {
  width: 110%;
  border-radius: 30px;

}

.finalResultsPage {
  text-align: center;
}
