.finalResultsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.resultsCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid rgba(251, 251, 251, 0.781);
  border-radius: 30px;
  height: 60vh;
  width: 30%;
  color: rgb(130, 69, 146);
  margin: 20px 0;
  color: var(--dark-purple-color);
}

.enjoy h2 {
  color: var(--dark-purple-color);
  font-size: 3rem;
  /* text-shadow: -2px 0 var(--medium-purple-color),
    0 2px var(--medium-purple-color), 2px 0 var(--medium-purple-color),
    0 -2px var(--medium-purple-color); */
  margin: 5px 0 0 0;
  padding: 10px;
  font-weight: 600;
}

.restaurantName {
  margin-top: 5px;
}

img.restaurant_image {
  margin: 0;
  width: 50%;
  border-radius: 10px;

  opacity: 0.8;
}

.finalResultsPage {
  text-align: center;
}

.textMargin {
  margin: 0;
  padding: 0;
}

.venueIcon {
  color: var(--light-grey);
}

@media (max-width: 700px) {
  .resultsCard {
    width: 80%;
  }

  .restaurantName {
    margin-bottom: 40px;
  }

  .finalResultsBtn {
    margin-top: 30px;
  }
}
