/* CSS for Vote Screen */

.voteScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
padding: 5%;
color: rgb(130, 69, 146);

}