/* CSS for Create & Join Page */

.createJoinGroup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createJoinBtn {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0;
  height: 60px;
  width: 250px;
  border-radius: 30px;
  transition: 0.4s all ease-in-out;
  animation: fade-in 1s ease-in;
}

.createJoinBtn:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
