.help {
  background-color: #d5b5dc;
  line-height: 40px;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: SimplyRounded;
  font-size: 14px;
  height: auto;
  width: auto;
  text-align: center;
  margin: 0;
}

p {
  font-family: "Comfortaa-Regular", sans-serif;
}

h2,
h3,
h4 {
  color: white;
}

.howto p {
  position: relative;
  text-align: center;
  padding: 5px 0;
}

.howto p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 37.5%; /* 50% of the width */
  width: 25%; /* 50% of the width */
  border-bottom: 1px solid var(--white);
}

.howto p:last-child::after {
  border-bottom: none;
}

.aboutHeader {
  padding: 0;
  margin: 20px 0;
}

.intro {
  width: 400px;
  line-height: 25px;
  margin-bottom: 10px;
}

.contact {
  margin-top: 30px;
}

.twitter {
  font-size: 10px;
  line-height: 0px;
  padding-bottom: 20px;
}

.answer {
  /* color: white; */
  line-height: 19px;
  margin: 0;
  padding: 0;
}

@media (max-width: 700px) {
  .intro {
    width: 80vw;
  }

  .howto {
    width: 80%;
  }

  .answer {
    margin: 0 20px;
  }
}
