.dropdown-container {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}

.dropdown-input {
  width: 200px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  user-select: none;
}

.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 250px;
  background-color: #fff;
  z-index: 99;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  font-family: SonoVariable;
}
.dropdown-item .icon {
  margin-left: auto; /* Pushes the icon to the far right */
}

.dropdown-item:hover {
  background-color: #e3cdf270;
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.dropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.dropdown-tag-item {
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.dropdown-tag-close {
  display: flex;
  align-items: center;
}

.search-box {
  padding: 5px;
  background-color: #eee;

}

.search-box input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: SonoVariable;

}

.dropdown-input {
color: #b2b1b1;
border-radius: 15px;
text-transform: lowercase;
font-family: SonoVariable;
}